<!-- SUGGEST POPUP -->


<div class="inner-container inner-container__title-wo-border">
    <div class="left-block">
        <h1>Suggest</h1>
    </div>
    <div class="right-block">
        <img src="../../../assets/close-icon.svg" alt="">
    </div>
</div>

<div class="popup-content popup-content__small row gy-4 gx-3">

    <div class="col-md-6">
        <div class="form-field-wrap">
            <mat-label>Percentage</mat-label>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
    
                <mat-select placeholder="Select">
                    <mat-option value="all products">10</mat-option>
                    <mat-option value="product1">20</mat-option>
                    <mat-option value="product2">30</mat-option>
                    <mat-option value="product2">40</mat-option>
                    <mat-option value="product2">50</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-field-wrap">
            <mat-label>History</mat-label>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
    
                <mat-select placeholder="Select">
                    <mat-option value="all products">2024</mat-option>
                    <mat-option value="product1">2023</mat-option>
                    <mat-option value="product2">R12</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    
    <div class="col-12 d-flex justify-content-end">
        <div class="btn-grp">
            <button type="button" class="btn btn__secondary">Cancel</button>
            <button type="button" class="btn btn__primary">Suggest</button>
        </div>
    </div>

</div>





