<!-- header -->
<div class="header-outer">
    <div class="left-block">
    <div class="hmenu-wrapper"> 
        <img src="assets/menu-icon.svg" alt="">       
    </div>
<div class="logo-wrapper">
    <img src="assets/logo.svg" alt="">
</div>
</div>
</div>
<!-- end of header -->

<div class="pg-outer-container">
    <div class="content-container  content-container__top-zero-padding">
        <div class="inner-container inner-container__title">
            <div class="left-block">
            <h1>Parts  Dashboard</h1>       
            </div>
            <div class="right-block">
                <div class="btn-grp">
                    <button type="button" class="btn btn__secondary" (click)="openClearconfirmation()">Clear</button>
                    <button type="button" class="btn btn__primary">Submit</button>
                </div>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="more-options">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <img src="../../../assets/import-icon.svg" alt="">
                    <span>Import</span>
                  </button>
                  <button mat-menu-item (click)="openImportorder()">
                    <img src="../../../assets/export-icon.svg" alt="">
                    <span>Export</span>
                  </button>
                  <button mat-menu-item>
                    <img src="../../../assets/tutorials-icon.svg" alt="">
                    <span>Tutorials</span>
                  </button>
                  <button mat-menu-item (click)="openLegends()">
                    <img src="../../../assets/legends-icon.svg" alt="">
                    <span>Legends</span>
                  </button>
                </mat-menu>
            </div>
        </div>  
<div class="row">
    <div class="col">
        <div class="inner-container inner-container__title-small-wo-border">
            <h3>Order Estimates</h3>
        </div>


<div class="fluid-container">
        <div class="ctrgroup-outer row g-3">
         
          <div class="col">
            <div class="counterbox">
                <h1>$5,727.00</h1>
                <p>Before Discounts</p>
            </div></div>

            <div class="col">
            <div class="counterbox">
                <h1>---</h1>
                <p>AYP</p>
            </div></div>

            <div class="col">
            <div class="counterbox">
                <h1>$5,727.00</h1>
                <p>After Discounts</p>
            </div></div>

        </div>
      </div>


    </div>
    <div class="col">
        <div class="inner-container inner-container__title-small-wo-border">
            <h3>Level</h3>            
        </div>
        <div class="level-outer">
            <div class="level-box">
                <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                <h3>Bronze</h3>
                <p>3,000.00</p>
            </div>
            <div class="level-box">
                <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
                <h3>Silver</h3>
                <p>6,003.60</p>
            </div>
            <div class="level-box">
                <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
                <h3>Gold</h3>
                <p>12,009.60</p>
            </div>
            <div class="level-box">
                <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
                <h3>Gold+</h3>
                <p>25,025.00</p>
            </div>
            <div class="level-box">
                <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
                <h3>Gold++</h3>
                <p>50,050.00</p>
            </div>
        </div>
    </div>
</div>
    </div>

    <div class="spacer-12"></div>

    <div class="content-container content-container__top-zero-padding">
        <div class="inner-container inner-container__title-wo-border">
            <div class="left-block">
            <div class="form-field-wrap">
                <mat-form-field appearance="outline" subscriptSizing="dynamic" >
                    
    <mat-select>
      <mat-option value="all products">All Products</mat-option>
      <mat-option value="product1">Product1</mat-option>
      <mat-option value="product2">Product1</mat-option>
      <mat-option value="product3">Product1</mat-option>
      <mat-option value="product4">Product1</mat-option>
      <mat-option value="product5">Product1</mat-option>
      <mat-option value="product6">Product1</mat-option>
    </mat-select>
                  </mat-form-field>
            </div>    
            </div>
            <div class="right-block">
                <div class="btn-grp">
                    <button type="button" class="btn btn__pl-wicon" (click)="openSuggest()"><img src="../../../../assets/suggest-icon.svg" class="bt-icon" alt="">Suggest</button>
                    <button type="button" class="btn btn__pl-wicon" (click)="openAdditem()"><img src="../../../../assets/plus-icon.svg" class="bt-icon" alt="">Add Item</button>
                </div>
                <mat-form-field appearance="outline" class="searchip" subscriptSizing="dynamic">
                  <input matInput placeholder="Search">
                  <img src="../../../assets/search-icon.svg" alt="">
                </mat-form-field>
            </div>
        </div> 



        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <button mat-flat-button color="primary">Primary</button>
            
              <!-- sku -->
              <ng-container matColumnDef="sku">
                <th mat-header-cell *matHeaderCellDef> SKU </th>
                <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
              </ng-container>
            
              <!-- description Column -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
              </ng-container>
            
              <!-- price Column -->
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
              </ng-container>
            
              <!-- 2024 Column -->
              <ng-container matColumnDef="y2024">
                <th mat-header-cell *matHeaderCellDef> 2024 </th>
                <td mat-cell *matCellDef="let element"> {{element.y2024}} </td>
              </ng-container>
          
              <!-- 2023 Column -->
              <ng-container matColumnDef="y2023">
                  <th mat-header-cell *matHeaderCellDef> 2023 </th>
                  <td mat-cell *matCellDef="let element"> {{element.y2023}} </td>
                </ng-container>
          
              <!-- r12 Column -->
              <ng-container matColumnDef="r12">
                  <th mat-header-cell *matHeaderCellDef> R12 </th>
                  <td mat-cell *matCellDef="let element"> {{element.r12}} </td>
                </ng-container>
              
              <!-- order -->
              <ng-container matColumnDef="order">
                  <th mat-header-cell *matHeaderCellDef> Order </th>
                  <td mat-cell *matCellDef="let element"> {{element.order}} </td>
                </ng-container>
                
                          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="100"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  aria-label="Select page">
    </mat-paginator>

    </div>
</div>