@import './mixins';
@import './variables.scss';

.mat-mdc-table {
    box-shadow: none;
}
.mat-mdc-table thead
{
background-color: $Grey-100 !important;
}

// mat-paginator
.searchip 
{
    
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field
    {
    &__input
    {
    color: $Grey-600;
    }

    }
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing
{
    border-color: $Grey-400;
}

    .mat-mdc-form-field-infix
    {
        padding:0 !important;
        display: flex;
        align-items: center;
        min-height:40px;
        width: fit-content;
    }
    .mat-mdc-form-field-subscript-wrapper
    {
        display: none;
    }
}

// mat-paginator
.mat-mdc-paginator-container
{
    background-color: $Grey-100;
    justify-content: space-between !important;
}



    // mat-button-toggle
    .mat-button-toggle-appearance-standard.mat-button-toggle-checked
    {
        background-color: $Hasqvarna-Blue-10 !important;        
    }
    .mat-button-toggle-appearance-standard
    {
        color: $Grey-400 !important;   
        border-radius: 4px;          
    }
    .mat-button-toggle-standalone, .mat-button-toggle-group
    {
        column-gap: 4px;
    }
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content
    {
        
        line-height: 14px !important;
        padding: 10px 16px !important;
    }
    .mat-button-toggle-group
    {
        padding: 3px;
        border-radius: 6px !important;   
    }
    .mat-button-toggle-checked 
    {
        color: $Hasqvarna-Blue !important;
    }

    .mat-button-toggle-group-appearance-standard .mat-button-toggle-appearance-standard+.mat-button-toggle-appearance-standard {
        border: none !important;
    }
    
    
    // mat-expansion-panel
    .mat-expansion-panel:not([class*=mat-elevation-z])
    {
        box-shadow: none !important;
    }
    .mat-expansion-panel-header
    {
        height: fit-content !important;
    }
    .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
        background: transparent !important; 
    }
    .mat-expansion-panel-spacing {
        margin: 0 !important;
    }


    .Exp-panel-big
    {
    .mat-expansion-panel:not([class*=mat-elevation-z])
    {
        @include grey-border-bottom;
    }
    .mat-expansion-panel-header
    {
        padding: 1.3rem 0 !important;
    }
    .mat-expansion-panel-header-title
    {
        @include main-title-blue; 
        font-family: "Heebo", sans-serif;
        color: $Hasqvarna-Blue !important;       
    }
    .mat-expansion-panel-body {
        padding: 0 0 16px !important;
    }
    }

    .Exp-panel-sm
    {
        .mat-expansion-panel-header
        {
            padding: 12px 0 !important;
        }
        .mat-expansion-panel-header-title
        {
            @include body16; 
            color: $Grey-600 !important;       
        }
        .mat-expansion-panel-body 
        {
            @include grey-border-top;
            padding: 20px 0 !important;
        }
        .mat-expanded
        {
            .mat-expansion-panel-header-title
        {
            font-weight: 500;       
        }
        }
    }

 
    
    // mat-checkbox
    .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background
    {
        border-color: $Hasqvarna-Blue !important;
        background-color: $Hasqvarna-Blue !important;
        border-radius: 5px;
    }
    .mdc-checkbox:hover .mdc-checkbox__native-control:checked~.mdc-checkbox__ripple, .mdc-checkbox:active .mdc-checkbox__native-control:checked~.mdc-checkbox__ripple, .mdc-checkbox .mdc-checkbox__native-control:focus:checked~.mdc-checkbox__ripple
    {
        opacity: 1 !important;
        background-color: $Hasqvarna-Blue-10 !important;
    }
    .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background
    {
        border-radius: 5px;
        border: 1px solid $Grey-400 !important;
    }



     // mat-tabs
    .mat-tab-group {
        margin-bottom: 48px;
      }
      .mat-mdc-tab-label-container
      {
        border-bottom: 1px solid $Grey-300;
      }
      .mat-mdc-tab-header {
        --mdc-secondary-navigation-tab-container-height: 74px !important;
    }
    .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label
    {
    color: $Hasqvarna-Blue !important;
    }
    .mat-mdc-tab .mdc-tab-indicator__content--underline
    {
        border-color: $Hasqvarna-Blue !important;   
    }
    .mat-mdc-tab .mdc-tab__text-label {
        font-size: 16px;
        font-weight: 500;
        color:$Grey-400 !important;
    }
    .mat-mdc-tab.mdc-tab .mdc-tab__ripple
    {
display: none;
    }
    
