<!-- IMPORT ORDER POPUP -->


<div class="inner-container inner-container__title-wo-border">
    <div class="left-block">
        <h1>Import Order</h1>
    </div>
    <div class="right-block">
        <img src="../../../assets/close-icon.svg" alt="">
    </div>
</div>

<div class="popup-content popup-content__small row gy-4">

    <div class="col-12">   
        <p>Please upload the excel file of the order you wish to import.</p>  
        <div class="spacer-12"></div>   
        <div class="fileupload">            
<img src="../../../../../assets/upload-icon.svg" alt="">
<div class="txt-wrap">
<p>Drag and drop files or <a href="#">Browse</a></p>
<h6>Maximum file size 2MB</h6>
</div>
        </div>

    </div>
    
    <div class="col-12 d-flex justify-content-end">
        <div class="btn-grp">
            <button type="button" class="btn btn__secondary">Cancel</button>
            <button type="button" class="btn btn__primary">Import</button>
        </div>
    </div>

</div>