<!-- DELETE TEMPLATE CONFIRMATION POPUP -->


<div class="inner-container inner-container__title-wo-border">
    <div class="left-block">
        <h1>Delete Template?</h1>
    </div>
    <div class="right-block">
        <img src="../../../assets/close-icon.svg" alt="">
    </div>
</div>

<div class="popup-content popup-content__small row gy-4">

    <div class="col-12">
        <h4>Are you sure you want to delete this template?</h4>
        <div class="spacer-12"></div>
        <p>[Template Name]</p>
        <p>Any other relevant info.</p>
    </div>
    
    <div class="col-12 d-flex justify-content-end">
        <div class="btn-grp">
            <button type="button" class="btn btn__secondary">Cancel</button>
            <button type="button" class="btn btn__primary">Delete</button>
        </div>
    </div>

</div>