
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-mdc-table {
    box-shadow: none;
}
.mat-mdc-table thead
{
background-color: #F4F4F3 !important;
}
