<!-- header -->
<!-- <div class="header-outer">
    <div class="left-block">
    <div class="hmenu-wrapper"> 
        <img src="assets/menu-icon.svg" alt="">       
    </div>
<div class="logo-wrapper">
    <img src="assets/logo.svg" alt="">
</div>
</div>
</div> -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand"><img [src]="assetUrl + 'logo.svg'" alt=""> &nbsp;<b *ngIf="isUATMode" style="color: #273a60;">{{envName}}</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div>
      <b>Account Name: {{accountName}}</b><br>
      <b>Account Number: {{accountNum}}</b><br>
      <b>P&A Bracket: {{cal_discount}}</b>
      <!-- <b>AYP Discount: {{cal_discount}}</b>  -->
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/home']" [queryParams]="{ aid: '615' }">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Parts</a>
        </li>
      </ul>
    </div> -->
  </div>
</nav>
<!-- end of header -->
<app-progress-bar></app-progress-bar>
<div class="pg-outer-container">
    <div class="content-container  content-container__top-zero-padding">
        <div class="inner-container inner-container__title filter-wrapper">
            <div class="left-block">
              <h1>Parts  Dashboard</h1>
            </div>
            <div class="right-block">
                <!-- Show message when order is already submitted -->
                <p *ngIf="isSaveDisabled && showMessage" class="submitted-message">
                  Your order has already been submitted. To place another order, click the reload button to start again.
                </p>                
                <div class="btn-grp">
                  <button type="button" class="btn btn__secondary" (click)="openClearconfirmation()" *ngIf="!isSaveDisabled && checkOrderValidity()">Clear</button>
                  <button type="button" class="btn btn__secondary" (click)="reloadPage()" *ngIf="isSaveDisabled">Reload</button>
                  <button type="button" class="btn btn__primary" (click)="openSubmitPopup()" [disabled]="isSaveDisabled" *ngIf="checkOrderValidity()">Submit</button>
                </div>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="more-options">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openImportorder()">
                    <img [src]="assetUrl + 'import-icon.svg'" alt="">
                    <span>Import</span>
                  </button>
                  <button mat-menu-item (click)="exportOrder()">
                    <img [src]="assetUrl + 'export-icon.svg'" alt="">
                    <span>Export</span>
                  </button>
                  <button mat-menu-item>
                    <img [src]="assetUrl + 'tutorials-icon.svg'" alt="">
                    <span>Tutorials</span>
                  </button>
                  <button mat-menu-item (click)="openLegends()">
                    <img [src]="assetUrl + 'legends-icon.svg'" alt="">
                    <span>Legends</span>
                  </button>
                </mat-menu>
            </div>
        </div>  
<div class="row">
    <div class="col">
        <div class="inner-container inner-container__title-small-wo-border">
            <h3>Order Estimates</h3>
        </div>


<div class="fluid-container">
        <div class="ctrgroup-outer row g-3">

          <div class="col">
            <div class="counterbox">
              <h1 id="msg_before_discount" #msg_before_discount>$0.00</h1>
              <p>Before Discounts (AYP)</p>
            </div>
          </div>

          <div class="col">
            <div class="counterbox">
              <h1 id="msg_ayp" #msg_ayp>$0.00</h1>
              <p> Total Discounts </p>
              <p id="combined_disount" #combined_disount></p>
            </div>
          </div>

          <div class="col">
            <div class="counterbox">
              <h1 id="msg_after_discount" #msg_after_discount>$0.00</h1>
              <p>After Discounts</p>
            </div>
          </div>

        </div>
      </div>


    </div>
    <div class="col">
        <div class="inner-container inner-container__title-small-wo-border">
            <h3>Program Discount</h3>            
        </div>
        <div class="level-outer" *ngIf="compCode == 'USF'">
            <div class="level-box">
                <mat-progress-bar id="bronze_progress" mode="determinate" [value]="bronze_progress"></mat-progress-bar>
                <h3>TIER 1</h3>
                <p>$2,500 - $4,999</p>
            </div>
            <div class="level-box">
                <mat-progress-bar id="silver_progress" mode="determinate" [value]="silver_progress"></mat-progress-bar>
                <h3>TIER 2</h3>
                <p>$5,000 - $9,999</p>
            </div>
            <div class="level-box">
                <mat-progress-bar mode="determinate" [value]="gold_progress"></mat-progress-bar>
                <h3>TIER 3</h3>
                <p>$10,000 - $24,999</p>
            </div>
            <div class="level-box">
                <mat-progress-bar mode="determinate" [value]="gold_p_progress"></mat-progress-bar>
                <h3>TIER 4</h3>
                <p>$25,000+</p>
            </div>
            <!-- <div class="level-box">
                <mat-progress-bar mode="determinate" [value]="gold_pp_progress"></mat-progress-bar>
                <h3>Gold++</h3>
                <p>$50,050.00</p>
            </div> -->
        </div>
        <div class="level-outer" *ngIf="compCode == 'CDA'">
          <div class="level-box">
              <mat-progress-bar id="bronze_progress" mode="determinate" [value]="bronze_progress"></mat-progress-bar>
              <h3>TIER 1</h3>
              <p>$5,000 - $9,999</p>
          </div>
          <div class="level-box">
              <mat-progress-bar id="silver_progress" mode="determinate" [value]="silver_progress"></mat-progress-bar>
              <h3>TIER 2</h3>
              <p>$10,000 - $24,999</p>
          </div>
          <div class="level-box">
              <mat-progress-bar mode="determinate" [value]="gold_progress"></mat-progress-bar>
              <h3>TIER 3</h3>
              <p>$25,000+</p>
          </div>
      </div>
    </div>
</div>
    </div>

    <div class="spacer-12"></div>

    <div class="content-container content-container__top-zero-padding">
        <div class="inner-container inner-container__title-wo-border filter-wrapper">
            <div class="left-block">
            <div class="form-field-wrap">
              <form [formGroup]="searchForm">
                <mat-form-field appearance="outline" subscriptSizing="dynamic" >    
                  <mat-select id="selectedProduct" formControlName="selectedProduct" (selectionChange)="onValueChange($event)">
                    <mat-option value="all">All Products</mat-option>
                    <mat-option *ngFor="let cat of categories" [value]="cat.id">
                      {{ cat.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </div>    
            </div>
            <div class="right-block filter-wrapper">
              <form [formGroup]="suggestForm">
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                  <mat-select placeholder="Percentage" formControlName="selectedPercentage">
                      <mat-option value="10">10</mat-option>
                      <mat-option value="20">20</mat-option>
                      <mat-option value="30">30</mat-option>
                      <mat-option value="40">40</mat-option>
                      <mat-option value="50">50</mat-option>
                      <mat-option value="60">60</mat-option>
                      <mat-option value="70">70</mat-option>
                      <mat-option value="80">80</mat-option>
                      <mat-option value="90">90</mat-option>
                      <mat-option value="100">100</mat-option>
                  </mat-select>
                  <mat-error *ngIf="suggestForm.get('selectedPercentage')?.hasError('required')">
                    Percentage is required.
                  </mat-error>
                </mat-form-field>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field appearance="outline" subscriptSizing="dynamic" >
                  <mat-select placeholder="History" formControlName="selectedHistory">
                      <mat-option value="{{currentYear}}">{{currentYear}}</mat-option>
                      <mat-option value="{{previousYear}}">{{previousYear}}</mat-option>
                      <mat-option value="R12">R12</mat-option>
                  </mat-select>
                  <mat-error *ngIf="suggestForm.get('selectedHistory')?.hasError('required')">
                    History is required.
                  </mat-error>
                </mat-form-field>
              </form>
                <div class="btn-grp">
                    <button type="button" class="btn btn__pl-wicon" (click)="openSuggest()" [disabled]="isSaveDisabled"><img [src]="assetUrl + 'suggest-icon.svg'" class="bt-icon" alt="">Suggest</button>
                    <button type="button" class="btn btn__pl-wicon" (click)="openAdditem()" [disabled]="isSaveDisabled"><img [src]="assetUrl + 'plus-icon.svg'" class="bt-icon" alt="">Add Item</button>
                </div>
                <mat-form-field appearance="outline" class="searchip" subscriptSizing="dynamic">
                  <input matInput placeholder="Search" (input)="applyFilter($event)">
                  <img [src]="assetUrl + 'search-icon.svg'" alt="">
                </mat-form-field>
            </div>
        </div>
      <div class="table-wrapper">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *ngIf="!isLoading" #priceTable>
            <!-- <button mat-flat-button color="primary">Primary</button> -->

              <!-- Blank Column -->
              <ng-container matColumnDef="blank">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element.blank === '-' ? '#FFEACA' : ''}">
                  <ng-container *ngIf="element.blank === 'manually'; else defaultTemplate">
                    <img [src]="assetUrl + 'manually-added-badge.svg'" alt="" title="This item was manually entered by searching for the part number">
                  </ng-container>
                  <ng-template #defaultTemplate>
                    <ng-container *ngIf="element.blank === 'ordered'; else otherTemplate">
                      <img [src]="assetUrl + 'ordered-before-badge.svg'" alt="" title="This is an item that you have ordered in the past. The sales numbers shown are from your own history.">
                    </ng-container>
                    <ng-template #otherTemplate>
                      <img [src]="assetUrl + 'best-seller-badge.svg'" alt="" title="This is a popular item in your area - but you have never ordered it! The Sales numbers shown are average per dealer in your area">
                    </ng-template>
                  </ng-template>
                </td>
              </ng-container>
              
              <!-- sku -->
              <ng-container matColumnDef="sku">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU </th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element.blank === '-' ? '#FFEACA' : ''}"> {{element.sku}} </td>
              </ng-container>
            
              <!-- description Column -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element.blank === '-' ? '#FFEACA' : ''}"> {{element.description}} </td>
              </ng-container>
            
              <!-- price Column -->
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                <td mat-cell *matCellDef="let element" id="price_{{ element.sku }}" [ngStyle]="{'background-color': element.blank === '-' ? '#FFEACA' : ''}"> ${{element.price}} </td>
              </ng-container>
            
              <!-- currentYear Column -->
              <ng-container matColumnDef="y_currentyear">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{currentYear}} </th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element.blank === '-' ? '#FFEACA' : ''}"> {{element.y_currentyear}} </td>
              </ng-container>
          
              <!-- previousYear Column -->
              <ng-container matColumnDef="y_previousyear">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{previousYear}} </th>
                  <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element.blank === '-' ? '#FFEACA' : ''}"> {{element.y_previousyear}} </td>
                </ng-container>
          
              <!-- r12 Column -->
              <ng-container matColumnDef="r12">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> R12 </th>
                  <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element.blank === '-' ? '#FFEACA' : ''}"> {{element.r12}} </td>
                </ng-container>
              
              <!-- order -->
              <ng-container matColumnDef="order">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Order </th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element.blank === '-' ? '#FFEACA' : ''}">
                  <input 
                    [(ngModel)]="element.order" 
                    matInput 
                    placeholder="Enter Order" 
                    (blur)="onInputChange($event, element, element.sku)" id="qty_{{ element.sku }}" class="vl_order_qty"
                    style="width: 80px;" pattern="[0-9]*" (keypress)="validateNumber($event)" [ngClass]="{'grayed-out': isSaveDisabled}" [readonly]="isSaveDisabled">
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
          <div *ngIf="isLoading">
            <app-skeleton-loader [rowCount]="7"></app-skeleton-loader>
          </div>
          <mat-paginator [length]="100"
            [pageSize]="20"
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page">
          </mat-paginator>
    </div>
</div>