<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand"><img [src]="assetUrl + 'logo.svg'" alt=""> &nbsp;<b *ngIf="!isUATMode" style="color: #273a60;">{{envName}}</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</nav>
<div class="not-found-container">
    <h1>Alert</h1>
    <p>You are not authorized access Parts Order Portal, Please reach out to your Husqvarna Sales Representative for further questions</p>
    <!-- <p>Please contact the system administrator for assistance as your agent's email is invalid.</p> -->
</div>