<!-- ADD TO TEMPLATES POPUP -->


<div class="inner-container inner-container__title-wo-border">
    <div class="left-block">
        <h1>New Template</h1>
    </div>
    <div class="right-block">
        <img src="../../../assets/close-icon.svg" alt="">
    </div>
</div>

<div class="popup-content popup-content__small row gy-4">

    <div class="col-12">
        <div class="row gy-3">
            <div class="col-12">
                <div class="form-field-wrap">
                    <mat-label>Enter template name</mat-label>
                    <mat-form-field appearance="outline" class="no-float-label" subscriptSizing="dynamic">
                        <input matInput placeholder="ex. Order Template 001">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12">
                <div class="hint" role="alert">
                    <h3>Note : </h3> Keep the name short and simple. Avoid using special characters.
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-12 d-flex justify-content-end">
        <div class="btn-grp">
            <button type="button" class="btn btn__secondary">Cancel</button>
            <button type="button" class="btn btn__primary">Save</button>
        </div>
    </div>

</div>





