::ng-deep .summary-table {
    tbody tr:last-child {
        background-color: rgb(242 84 32 / 8%);
        border: 1px solid rgb(242 84 32 / 60%);
    }

    tr td:first-child,
    tr:first-child td {
        font-weight: bold;
    }
}